/********** Template CSS **********/
:root {
    --primary: #ff96b7;
    --secondary: #f4abb4;
    /*--light: #ff96b7;*/
    --light: #000;
    --white: #ffffff;
}
.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}
.back-to-top:hover {
background-color: #ffffff;
color: #ff96b7;
border: 3px solid #ff96b7;
}
/*** chi tiet hoa don ***/
.margin-top-50px{
    margin-top: 50px;
}
.margin-top-20px{
    margin-top: 20px;
}
.font-size-30 {
    font-size: 30px;
    font-weight: bold;
}
.font-size-20{
    font-size: 20px;
    font-weight: bold;
}
.margin-right--20px{
    margin-left: -20px;
}
.text--green{
    font-weight: bold;
    color: green;
}
.boder-none{
    border: none;
}

/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}
/* change background color */
.bg-pink{
    background-color: #fdf3f4;
}
.bg_signin_signup{
    background-color: #ffffff;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    color: #fd001f;
}

/*** Button ***/
.btn {
    transition: .5s;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}


/*** Layout ***/
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    height: 100vh;
    overflow-y: auto;
    /* background: var(--secondary); */
    background: var(--white);
    transition: 0.5s;
    z-index: 999;
}

.content {
    margin-left: 250px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
}

@media (min-width: 992px) {
    .sidebar {
        margin-left: 0;
    }

    .sidebar.open {
        margin-left: -250px;
    }

    .content {
        width: calc(100% - 250px);
    }

    .content.open {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 991.98px) {
    .sidebar {
        margin-left: -250px;
    }

    .sidebar.open {
        margin-left: 0;
    }

    .content {
        width: 100%;
        margin-left: 0;
    }
}


/*** Navbar ***/
.sidebar .navbar .navbar-nav .nav-link {
    padding: 7px 20px;
    color: var(--light);
    font-weight: 500;
    border-left: 3px solid var(--secondary);
    border-radius: 0 30px 30px 0;
    outline: none;
}

.sidebar .navbar .navbar-nav .nav-link:hover,
.sidebar .navbar .navbar-nav .nav-link.active {
    color: var(--primary);
    background: var(--white);
    border-color: var(--primary);
}

.sidebar .navbar .navbar-nav .nav-link i {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: var(--white);
    border-radius: 40px;
}

.sidebar .navbar .navbar-nav .nav-link:hover i,
.sidebar .navbar .navbar-nav .nav-link.active i {
    background: #ff96b7;
    color: #fff;
}

.sidebar .navbar .dropdown-toggle::after {
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
}

.sidebar .navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

.sidebar .navbar .dropdown-item {
    padding-left: 25px;
    border-radius: 0 30px 30px 0;
    color: var(--light);
}

.sidebar .navbar .dropdown-item:hover,
.sidebar .navbar .dropdown-item.active {
    background: var(--white);
}

.content .navbar .navbar-nav .nav-link {
    margin-left: 25px;
    padding: 12px 0;
    color: var(--light);
    outline: none;
}

.content .navbar .navbar-nav .nav-link:hover,
.content .navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

.content .navbar .sidebar-toggler,
.content .navbar .navbar-nav .nav-link i {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: var(--white);
    border-radius: 40px;
}

.content .navbar .dropdown-item {
    color: var(--light);
}

.content .navbar .dropdown-item:hover,
.content .navbar .dropdown-item.active {
    background: var(--white);
    color: #ff96b7;
}

.content .navbar .dropdown-toggle::after {
    margin-left: 6px;
    vertical-align: middle;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
}

.content .navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

@media (max-width: 575.98px) {
    .content .navbar .navbar-nav .nav-link {
        margin-left: 15px;
    }
}


/*** Date Picker ***/
.bootstrap-datetimepicker-widget.bottom {
    top: auto !important;
}

.bootstrap-datetimepicker-widget .table * {
    border-bottom-width: 0px;
}

.bootstrap-datetimepicker-widget .table th {
    font-weight: 500;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    padding: 10px;
    border-radius: 2px;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
    background: var(--primary);
}

.bootstrap-datetimepicker-widget table td.today::before {
    border-bottom-color: var(--primary);
}


/*** Testimonial ***/
.progress .progress-bar {
    width: 0px;
    transition: 2s;
}


/*** Testimonial ***/
.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 5px solid var(--primary);
    border-radius: 15px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--white);
    border-color: var(--primary);
}

/* form signin signup */
.title-sg{
    text-align: center;
    margin-bottom: 10%;
   display: block;
    font-size: 40px;
    font-weight: bolder;
}

.form-control{
    background-color: #ffffff;
    border: 2px solid #ff96b7;
}
.form-control:focus{
    background-color: #fdf3f4;
}
.form-check-input{
background-color: #ff96b7;
}

.icon__user{
    font-size: 48px;
    color: #ff96b7;
}
.icon__user__small{
    color: #ff96b7;
}
.icon__user__mid{
    font-size: 40px;
    color: #ff96b7;
}
/* check password signin */
#insertTextHere{
    color: red;
   font-style: italic;
   margin-bottom: 20px;
}

/*box trạng thaí đơn hag*/
.stateOrder{
    height: 35px;
    border: #000 3px;
    font-size: 16px;
    padding: 5px;
}

/*check box*/
.checkout__input__checkbox {
    margin-top: 10px;
}

.checkout__input__checkbox label {
    position: relative;
    font-size: 16px;
    color: #1c1c1c;
    padding-left: 32px;
    cursor: pointer;
}

.checkout__input__checkbox label input {
    position: absolute;
    visibility: hidden;
}

.checkout__input__checkbox label input:checked~.checkmark {
    background: #ff96b7;
    border-color: #ff96b7;
}

.checkout__input__checkbox label input:checked~.checkmark:after {
    opacity: 1;
}

.checkout__input__checkbox label .checkmark {
    position: absolute;
    left: 0;
    top: -6px;
    height: 26px;
    width: 25px;
    border: 1px solid #a6a6a6;
    content: "";
    border-radius: 4px;
}

.checkout__input__checkbox label .checkmark:after {
    position: absolute;
    left: 1px;
    top: 1px;
    width: 18px;
    height: 12px;
    border: solid white;
    border-width: 3px 3px 0px 0px;
    -webkit-transform: rotate(127deg);
    -ms-transform: rotate(127deg);
    transform: rotate(127deg);
    content: "";
    opacity: 0;
}
input:not(:placeholder-shown) {
    border-color: hsl(0, 76%, 50%);
}

/* Show green borders when valid */
input:valid {
    border-color: hsl(120, 76%, 50%);
}